<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gotham Weapons Repository</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="https://cdn.iconscout.com/icon/free/png-512/batman-dc-superhero-hero-justice-league-earth-saver-28695.png" alt="Logo" style="width:40px;" height="25px" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gotham City Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/weapons/index">Weapons</a></li>
                    <li><a href="/students/index">Students</a></li>
                    <li><a href="/employees/index">Employees</a></li>
                    <li><a href="/home/aboutus">About Us</a></li>
                    <li><a href="/home/contactus">Contact us</a></li>
                    <li><a href="/home/services">Services</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content" style="background-color: #111021;color: white">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gotham City</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>