
@{
    ViewBag.Title = "Index";
}

<div class="row" >
    <h2 align="center">Welcome to Gotham Weapons Department</h2>

    <div style="padding-bottom: 20px" class="col-md-2">
        <img src="~/Content/back2.png" style="margin-top: -20px;" />
    </div>
    <div class="col-md-5">

        <img src="~/Content/back3.png" />

    </div>
    <div class="col-md-5">
        <img src="~/Content/back1.png" />
    </div>

</div>
